.submenu {
  width:max-content;
  position: absolute;
  top:110%;
  list-style: none;
  background:var(--color);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  transition:all 0.3s ease-in-out;
  padding:15px 10px;
  text-align:start;
}
.submenu li {
  width:98%;
  margin:6px auto;
  cursor: pointer;
  padding:5px;
}
.submenu li a{
  text-align: start;
  text-decoration: none;
  color:#fff;
  font-size:14px;
}
.submenu li:hover{
  background-color:#fff;
}
.submenu li:hover a{
  background-color:#fff;
  color:var(--color);
  margin-right:0;
  padding:0px 10px ;
  border-radius:0;
}
.submenu.clicked {
  display: none;
}

