.navbar {
    position: sticky;
    top: 0%;
    height:8vh;
    background:#fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow:0 -0.2rem 0.7rem rgba(0, 0, 0, 0.6);
    transition:all 0.3s ease-in-out;
    z-index:900;
    padding: 0%  2.5rem;
} 
.navbar-logo {
    color:#000;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight:600;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-family:"Solway";
}
.navbar-logo span{
  color:#ff9900d9;
} 
.navbar .menu-container{
  display: flex;
  flex-direction: row;
}
.nav-items {
    display: flex;
    list-style: none;
    margin: auto 3rem auto 0;
} 
.nav-items .nav-item {
  position:relative;
  margin: auto 1.2rem; 
  padding: 0.3rem 1rem;
  text-align: center; 
}
.nav-items .nav-item::after{
  position: absolute;
  content:'';
  left: 0%;
  bottom: 0%;
  width:0%;
  height:10%;
  background-color: var(--color);
  transition: all 0.5s ease;
}
.nav-items .nav-item:hover::after{
    width:100%;
}
.nav-item a {
    text-decoration: none;
    color:var(--color) ;
    font-weight:600;
    font-size: 1.3rem;
    padding:0%;
} 
.scrolled-navbar{
    background-color:var(--color);
    color: #fff;
}
.scrolled-navbar .nav-item a{
    color: #fff;
}
.scrolled-navbar .navbar-logo{
  color: #000;
}
.btnBlock.visible{
  display: block;
}
.btnBlock.hidden{
  display:none;
} 